*{
    outline: none;
    margin: 0;
    padding: 0;
}
body{
    background: rgba(128, 128, 128, 0.37);
}
.ALL{
    margin-top: 20px;
    text-align: center;
}
.all2{
   
}
.alls{
   
    text-align: center;
}
::placeholder{
    padding: 15px;
}
.all2 input{
    border: 1px solid lightgray;
    width: 70rem;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.all2 button{
    border: 1px solid lightgray;
    width: 70rem;
    color: white;
    height: 30px;
    border-radius: 10px;
    background-color: blue;
}
.all1 h1{
padding: 20px;
}
.all3{
    align-items: center;
  text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 30px;
    gap: 10px;
    justify-content: center;  
    align-items: center;
    text-align: center;
}
.alls3 h1{
    padding-top: 7px;
    height: 20rem;
    border: 1px solid lightgray;
    width: 30rem;
    border-radius: 10px;
    background-color: azure;
}
.all4 h1{
    border-radius: 10px;
    padding-top: 7px;
    border: 1px solid lightgray;
    width: 30rem;
    background-color: azure;
    height: 20rem;
}
@media screen and (max-width: 760px) {
    .all3{
        grid-template-columns: 1fr;
    }
}